version: "3.8"

services:
  mysql:
    image: mysql:5.7
    container_name: mysql_petclinic
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: petclinic
      MYSQL_USER: petclinic
      MYSQL_PASSWORD: petclinic
    volumes:
      - "./conf.d:/etc/mysql/conf.d:ro"

  petclinic:
    image: spring-petclinic:1.0
    container_name: petclinic_app
    ports:
      - "8080:8080"
    depends_on:
      - mysql
    environment:
      SPRING_PROFILES_ACTIVE: mysql
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/petclinic
      SPRING_DATASOURCE_USERNAME: petclinic
      SPRING_DATASOURCE_PASSWORD: petclinic
